# Сравнение распределений в R

## 0\. Подготовительные работы

In [1]:
getwd()

[1] "/Users/mac/Documents/_notebooks"

In [2]:
data <- read.csv("data_compare_distr.csv")

In [18]:
library(jsonlite)
library(dplyr)
library(ggplot2)

In [4]:
dim(data)

[1] 10000    36

In [5]:
str(data)

'data.frame':	10000 obs. of  36 variables:
 $ X.timestamp      : Factor w/ 9800 levels "2016-04-26T09:01:54.584Z",..: 5307 5300 5301 5316 5321 5288 5294 5324 5328 5342 ...
 $ action           : Factor w/ 1 level "view": NA NA NA NA NA NA NA NA NA NA ...
 $ adsystem         : int  2 2 2 2 2 3 3 2 3 2 ...
 $ agent            : int  901 2633 2622 2339 2339 884 110 2660 61 1859 ...
 $ amuid.format     : Factor w/ 2 levels "new","old": NA NA NA NA NA NA NA NA NA NA ...
 $ amuid.format.site: Factor w/ 2 levels "new","old": NA NA NA NA NA NA NA NA NA NA ...
 $ banner           : int  62 132 37 121 123 NA NA 36 NA 34 ...
 $ browser          : Factor w/ 26 levels "360SE","Chrome",..: 5 3 3 3 3 2 4 3 4 2 ...
 $ browser.lang     : Factor w/ 4 levels "[{","[{\"type\":\"m\"",..: 2 2 4 2 2 NA NA 2 NA 2 ...
 $ browser.version  : Factor w/ 541 levels "0","1.1.1.0(29.0.1547.62)",..: NA NA NA NA NA 60 527 NA 527 NA ...
 $ campaign         : int  54 87 36 85 85 NA NA 36 NA 35 ...
 $ city             : Factor w/ 386 levels "<U+0160>iauliai",..: 378 378 378 378 378 378 282 378 378 378 ...
 $ country          : Factor w/ 68 levels "AE","AL","AM",..: 54 54 63 67 67 54 64 63 54 54 ...
 $ cpm              : num  50 12 14 0 0 ...
 $ errors           : int  NA NA NA NA NA NA NA NA NA NA ...
 $ flash            : int  0 0 0 0 0 NA NA 0 NA 0 ...
 $ format           : int  2 2 2 2 1 1 1 1 2 1 ...
 $ index            : Factor w/ 2 levels "ad_views-2016.04.26",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ master.money     : num  0.02467 0.00514 0.00691 0 0 ...
 $ max.score        : num  8.9 8.9 8.9 8.9 8.9 ...
 $ os               : Factor w/ 24 levels "Android","Linux",..: 8 9 9 8 8 16 16 9 16 8 ...
 $ pay.for          : int  0 0 0 2 2 0 0 0 0 0 ...
 $ rekl             : int  45 8 26 7 7 40 43 26 40 26 ...
 $ rekl.money       : num  0.05 0.012 0.014 0 0 0.025 0.006 0.024 0.016 0.06 ...
 $ rm.ip            : int  NA NA NA NA NA NA NA NA NA NA ...
 $ scheme           : int  226 87 7286 14658 14658 NA NA 7286 NA 7286 ...
 $ score            : num  8.9 8.9 8.9 8.9 8.9 ...
 $ site.code        : int  NA NA NA NA NA NA NA NA NA NA ...
 $ site.stat        : int  6 6 6 6 6 6 6 6 6 6 ...
 $ stat.format      : int  2 2 2 2 1 NA NA 1 NA 1 ...
 $ stavka           : int  50 12 14 150000 150000 NA NA 24 NA 60 ...
 $ timestamp        : num  1.46e+12 1.46e+12 1.46e+12 1.46e+12 1.46e+12 ...
 $ total            : int  21331 21331 21331 21331 21331 21331 21331 21331 21331 21331 ...
 $ ttl              : int  983745312 983643458 983652194 983839221 983849469 983238797 983424030 983967022 984002223 984438976 ...
 $ types            : Factor w/ 2 levels "bn","cu": 1 1 1 1 1 1 1 1 1 1 ...
 $ worker           : int  1080 50 60 110 110 1050 70 10 1050 110 ...

In [6]:
data <- data[sort(colnames(data))]

Посмотрим на классы переменных:

In [7]:
classes <- lapply(data, class)
print(as.character(classes))
table(as.character(classes))

 [1] "factor"  "factor"  "integer" "integer" "factor"  "factor"  "integer"
 [8] "factor"  "factor"  "factor"  "integer" "factor"  "factor"  "numeric"
[15] "integer" "integer" "integer" "factor"  "numeric" "numeric" "factor"
[22] "integer" "integer" "numeric" "integer" "integer" "numeric" "integer"
[29] "integer" "integer" "integer" "numeric" "integer" "integer" "factor"
[36] "integer"

 factor integer numeric
     12      18       6

Посмотрим, какие переменные — `integer`:

In [8]:
(classes.int <- colnames(data.frame(subset(classes, classes == "integer"))))

 [1] "adsystem"    "agent"       "banner"      "campaign"    "errors"
 [6] "flash"       "format"      "pay.for"     "rekl"        "rm.ip"
[11] "scheme"      "site.code"   "site.stat"   "stat.format" "stavka"
[16] "total"       "ttl"         "worker"

Очевидно, что некоторые из них совсем не `integer`, а `factor`. Исправим это и сохраним названия переменных разных классов в соответствующие векторы:

In [9]:
print("Number of unique values in integer variables:")
lapply(data[classes.int], unique) %>%  lapply(length)

[1] "Number of unique values in integer variables:"

$adsystem
[1] 4

$agent
[1] 4075

$banner
[1] 220

$campaign
[1] 116

$errors
[1] 4

$flash
[1] 3

$format
[1] 3

$pay.for
[1] 4

$rekl
[1] 62

$rm.ip
[1] 209

$scheme
[1] 12

$site.code
[1] 3

$site.stat
[1] 6

$stat.format
[1] 4

$stavka
[1] 64

$total
[1] 2

$ttl
[1] 8662

$worker
[1] 36

In [10]:
classes[c("adsystem", "agent", "banner", "campaign", "errors", "flash",
          "format", "rekl", "scheme", "rm.ip", "site.code", "site.stat",
          "stat.format", "worker", "pay.for")] <- "factor"

classes.int <- colnames(data.frame(subset(classes, classes == "integer")))
classes.num <- colnames(data.frame(subset(classes, classes == "numeric")))
classes.fact <- colnames(data.frame(subset(classes, classes == "factor")))

Факторам — факторово! Поменяем классы переменных там, где это нужно сделать, не забывая про `timestamp` и `X.timestamp`.

In [11]:
data[classes.fact] <- lapply(data[classes.fact], as.factor)
data$timestamp <- as.character(data$timestamp)
data$X.timestamp <- as.character(data$X.timestamp)

# final check:
# (lapply(data, class))

## 1\. Exploratory Analysis

In [12]:
head(data, n = 3)
tail(data, n = 3)

               X.timestamp action adsystem agent amuid.format amuid.format.site
1 2016-04-27T01:09:57.766Z   <NA>        2   901         <NA>              <NA>
2 2016-04-27T01:08:15.852Z   <NA>        2  2633         <NA>              <NA>
3 2016-04-27T01:08:24.818Z   <NA>        2  2622         <NA>              <NA>
  banner browser browser.lang browser.version campaign      city country   cpm
1     62    MSIE [{"type":"m"            <NA>       54 undefined      RU 50.00
2    132 Firefox [{"type":"m"            <NA>       87 undefined      RU 12.04
3     37 Firefox           ru            <NA>       36 undefined      UA 14.00
  errors flash format               index master.money max.score   os pay.for
1   <NA>     0      2 ad_views-2016.04.27   0.02467150  8.901715 Win7       0
2   <NA>     0      2 ad_views-2016.04.27   0.00513570  8.901715 Win8       0
3   <NA>     0      2 ad_views-2016.04.27   0.00690802  8.901715 Win8       0
  rekl rekl.money rm.ip scheme    score site.code site.stat stat.format stavka
1   45      0.050  <NA>    226 8.901715      <NA>         6           2     50
2    8      0.012  <NA>     87 8.901715      <NA>         6           2     12
3   26      0.014  <NA>   7286 8.901715      <NA>         6           2     14
      timestamp total       ttl types worker
1 1461719398070 21331 983745312    bn   1080
2 1461719296216 21331 983643458    bn     50
3 1461719304952 21331 983652194    bn     60

                   X.timestamp action adsystem agent amuid.format
9998  2016-04-26T10:51:24.857Z   <NA>        2  1206         <NA>
9999  2016-04-26T10:51:24.665Z   <NA>        2  2808         <NA>
10000 2016-04-26T10:51:24.710Z   <NA>        2  2808         <NA>
      amuid.format.site banner   browser browser.lang browser.version campaign
9998               <NA>    164 undefined           ru            <NA>       75
9999               <NA>    158    Safari           ru            <NA>       99
10000              <NA>     34    Safari           ru            <NA>       35
           city country   cpm errors flash format               index
9998  undefined      UA  2.35   <NA>     0      2 ad_views-2016.04.26
9999  undefined      RU 12.04   <NA>     0      2 ad_views-2016.04.26
10000 undefined      RU 60.00   <NA>     0      1 ad_views-2016.04.26
      master.money max.score    os pay.for rekl rekl.money rm.ip scheme
9998     0.0000000  9.229366 MacOS       2   54      0.000  <NA>  38499
9999     0.0051357  9.229366 WinXP       0    8      0.012  <NA>     87
10000    0.0296058  9.229366 WinXP       0   26      0.060  <NA>   7286
         score site.code site.stat stat.format stavka     timestamp total
9998  9.211555      <NA>         6           2 136000 1461667885035 15306
9999  9.211555      <NA>         6           2     12 1461667885059 15306
10000 9.211555      <NA>         6           1     60 1461667885059 15306
            ttl types worker
9998  932210018    bn    240
9999  932210042    bn     50
10000 932210042    bn     50

In [15]:
# str(data)

In [14]:
summary(data)

 X.timestamp         action     adsystem        agent      amuid.format
 Length:10000       view: 218   1   : 218   1416   :  65   new : 209
 Class :character   NA's:9782   2   :7094   816    :  59   old :  19
 Mode  :character               3   :2678   1322   :  21   NA's:9772
                                NA's:  10   435    :  19
                                            983    :  12
                                            (Other):9812
                                            NA's   :  12
 amuid.format.site     banner        browser           browser.lang
 new : 227         34     :1434   Firefox:2554   [{          :  73
 old :   1         36     : 917   Chrome :2553   [{"type":"m":1806
 NA's:9772         37     : 853   MSIE   :1923   en          :   5
                   2      : 640   Opera  :1015   ru          :5437
                   1      : 433   Safari : 625   NA's        :2679
                   (Other):3035   IE     : 586
                   NA's   :2688   (Other): 744
 browser.version    campaign                  city         country
 8.0    : 426    36     :1770   undefined       :8036   RU     :5405
 10.0   :  93    35     :1697   Moscow          : 218   UA     :2495
 25.0   :  88    4      : 640   Kursk           :  86   BY     : 434
 0      :  49    3      : 433   Saint Petersburg:  85   KZ     : 417
 24.0   :  47    23     : 370   Boardman        :  74   US     : 268
 (Other):2005    (Other):2412   Saratov         :  52   MD     : 169
 NA's   :7292    NA's   :2678   (Other)         :1449   (Other): 812
      cpm         errors      flash      format                    index
 Min.   : 0.00   1   :   1   0   :7303   1 :6233   ad_views-2016.04.26:5000
 1st Qu.: 7.00   2   :   1   1   :   9   2 :3708   ad_views-2016.04.27:5000
 Median :14.00   3   :  60   NA's:2688   20:  59
 Mean   :22.01   NA's:9938
 3rd Qu.:24.00
 Max.   :82.83
 NA's   :2688
  master.money      max.score            os       pay.for          rekl
 Min.   :0.0000   Min.   :8.902   Win7    :3279   0   :8438   26     :3467
 1st Qu.:0.0035   1st Qu.:8.902   Windows :1920   1   : 298   32     :1555
 Median :0.0069   Median :9.066   WinXP   :1255   2   :1254   16     :1073
 Mean   :0.0105   Mean   :9.066   Win8    :1051   NA's:  10   8      : 638
 3rd Qu.:0.0118   3rd Qu.:9.229   WinVista: 870               40     : 545
 Max.   :0.0395   Max.   :9.229   Mac OS  : 697               (Other):2712
 NA's   :2688                     (Other) : 928               NA's   :  10
   rekl.money          rm.ip          scheme         score       site.code
 Min.   :0.00000   22     :   3   7286   :3577   Min.   :8.884   1   : 159
 1st Qu.:0.00700   56     :   2   87     :1762   1st Qu.:8.892   2   :  69
 Median :0.01987   58     :   2   14658  : 467   Median :9.057   NA's:9772
 Mean   :0.02121   145    :   2   22144  : 444   Mean   :9.056
 3rd Qu.:0.02410   148    :   2   38499  : 322   3rd Qu.:9.221
 Max.   :0.19226   (Other): 207   (Other): 740   Max.   :9.229
 NA's   :10        NA's   :9782   NA's   :2688
 site.stat stat.format     stavka        timestamp             total
 1:   1    1   :4669   Min.   :     1   Length:10000       Min.   :15306
 2:   3    2   :2584   1st Qu.:    14   Class :character   1st Qu.:15306
 3:   1    20  :  59   Median :    24   Mode  :character   Median :18318
 4:  60    NA's:2688   Mean   : 17294                      Mean   :18318
 5:   1                3rd Qu.:    60                      3rd Qu.:21331
 6:9934                Max.   :450000                      Max.   :21331
                       NA's   :2688
      ttl            types         worker
 Min.   :9.256e+08   bn:9990   160    : 408
 1st Qu.:9.606e+08   cu:  10   60     : 313
 Median :9.796e+08             10     : 311
 Mean   :9.827e+08             1070   : 311
 3rd Qu.:1.006e+09             1010   : 309
 Max.   :1.035e+09             1040   : 304
                               (Other):8044

In [20]:
qplot(cpm, data=data, )

Warning message:
: Continuous x aesthetic -- did you forget aes(group=...)?Warning message:
: Removed 2688 rows containing non-finite values (stat_boxplot).Warning message:
In is.na(data$y): is.na() applied to non-(list or vector) of type 'NULL'

ERROR: Error in seq.default(from = best$lmin, to = best$lmax, by = best$lstep): 'from' must be of length 1

ERROR: Error in file(con, "rb"): cannot open the connection

ERROR: Error in file(con, "rb"): cannot open the connection

plot without title