# Сравнение распределений в R

## 0\. Подготовительные работы

In [32]:
getwd()

[1] "/Users/mac/Documents/_notebooks"

In [33]:
data <- read.csv("data_compare_distr.csv")

In [34]:
library(jsonlite)
library(dplyr)

In [35]:
dim(data)

[1] 10000    38

In [36]:
str(data)

'data.frame':	10000 obs. of  38 variables:
 $ total            : int  21331 21331 21331 21331 21331 21331 21331 21331 21331 21331 ...
 $ max.score        : num  8.9 8.9 8.9 8.9 8.9 ...
 $ index            : Factor w/ 2 levels "ad_views-2016.04.26",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ score            : num  8.9 8.9 8.9 8.9 8.9 ...
 $ ttl              : int  983745312 983643458 983652194 983839221 983849469 983238797 983424030 983967022 984002223 984438976 ...
 $ timestamp        : num  1.46e+12 1.46e+12 1.46e+12 1.46e+12 1.46e+12 ...
 $ types            : Factor w/ 2 levels "bn","cu": 1 1 1 1 1 1 1 1 1 1 ...
 $ site.stat        : int  6 6 6 6 6 6 6 6 6 6 ...
 $ rekl             : int  45 8 26 7 7 40 43 26 40 26 ...
 $ scheme           : int  226 87 7286 14658 14658 NA NA 7286 NA 7286 ...
 $ campaign         : int  54 87 36 85 85 NA NA 36 NA 35 ...
 $ banner           : int  62 132 37 121 123 NA NA 36 NA 34 ...
 $ stavka           : int  50 12 14 150000 150000 NA NA 24 NA 60 ...
 $ pay.for          : int  0 0 0 2 2 0 0 0 0 0 ...
 $ format           : int  2 2 2 2 1 1 1 1 2 1 ...
 $ stat.format      : int  2 2 2 2 1 NA NA 1 NA 1 ...
 $ os               : Factor w/ 24 levels "Android","Linux",..: 8 9 9 8 8 16 16 9 16 8 ...
 $ browser          : Factor w/ 26 levels "360SE","Chrome",..: 5 3 3 3 3 2 4 3 4 2 ...
 $ browser.version  : Factor w/ 541 levels "0","1.1.1.0(29.0.1547.62)",..: NA NA NA NA NA 60 527 NA 527 NA ...
 $ browser.lang     : Factor w/ 4 levels "[{","[{\"type\":\"m\"",..: 2 2 4 2 2 NA NA 2 NA 2 ...
 $ flash            : int  0 0 0 0 0 NA NA 0 NA 0 ...
 $ country          : Factor w/ 68 levels "AE","AL","AM",..: 54 54 63 67 67 54 64 63 54 54 ...
 $ city             : Factor w/ 386 levels "<U+0160>iauliai",..: 378 378 378 378 378 378 282 378 378 378 ...
 $ rekl.money       : num  0.05 0.012 0.014 0 0 0.025 0.006 0.024 0.016 0.06 ...
 $ master.money     : num  0.02467 0.00514 0.00691 0 0 ...
 $ worker           : int  1080 50 60 110 110 1050 70 10 1050 110 ...
 $ agent            : int  901 2633 2622 2339 2339 884 110 2660 61 1859 ...
 $ cpm              : num  50 12 14 0 0 ...
 $ adsystem         : int  2 2 2 2 2 3 3 2 3 2 ...
 $ X.version        : int  1 1 1 1 1 1 1 1 1 1 ...
 $ X.timestamp      : Factor w/ 9800 levels "2016-04-26T09:01:54.584Z",..: 5307 5300 5301 5316 5321 5288 5294 5324 5328 5342 ...
 $ host             : Factor w/ 1 level "127.0.0.1": 1 1 1 1 1 1 1 1 1 1 ...
 $ action           : Factor w/ 1 level "view": NA NA NA NA NA NA NA NA NA NA ...
 $ site.code        : int  NA NA NA NA NA NA NA NA NA NA ...
 $ errors           : int  NA NA NA NA NA NA NA NA NA NA ...
 $ amuid.format.site: Factor w/ 2 levels "new","old": NA NA NA NA NA NA NA NA NA NA ...
 $ amuid.format     : Factor w/ 2 levels "new","old": NA NA NA NA NA NA NA NA NA NA ...
 $ rm.ip            : int  NA NA NA NA NA NA NA NA NA NA ...

In [37]:
data <- data[sort(colnames(data))]

Посмотрим на классы переменных:

In [38]:
classes <- lapply(data, class)
print(as.character(classes))
table(as.character(classes))

 [1] "factor"  "integer" "factor"  "integer" "integer" "factor"  "factor"
 [8] "integer" "factor"  "factor"  "factor"  "integer" "factor"  "factor"
[15] "numeric" "integer" "integer" "integer" "factor"  "factor"  "numeric"
[22] "numeric" "factor"  "integer" "integer" "numeric" "integer" "integer"
[29] "numeric" "integer" "integer" "integer" "integer" "numeric" "integer"
[36] "integer" "factor"  "integer"

 factor integer numeric
     13      19       6

Посмотрим, какие переменные — `integer`:

In [39]:
(classes.int <- colnames(data.frame(subset(classes, classes == "integer"))))

 [1] "X.version"   "adsystem"    "agent"       "banner"      "campaign"
 [6] "errors"      "flash"       "format"      "pay.for"     "rekl"
[11] "rm.ip"       "scheme"      "site.code"   "site.stat"   "stat.format"
[16] "stavka"      "total"       "ttl"         "worker"

Очевидно, что некоторые из них совсем не `integer`, а `factor`. Исправим это и сохраним названия переменных разных классов в соответствующие векторы:

In [47]:
print("Number of unique values in integer variables:")
lapply(data[classes.int], unique) %>%  lapply(length)

[1] "Number of unique values in integer variables:"

$X.version
[1] 1

$stavka
[1] 64

$total
[1] 2

$ttl
[1] 8662

In [48]:
classes[c("adsystem", "agent", "banner", "campaign", "errors", "flash",
          "format", "rekl", "scheme", "rm.ip", "site.code", "site.stat",
          "stat.format", "worker", "pay.for")] <- "factor"

classes.int <- colnames(data.frame(subset(classes, classes == "integer")))
classes.num <- colnames(data.frame(subset(classes, classes == "numeric")))
classes.fact <- colnames(data.frame(subset(classes, classes == "factor")))

Факторам — факторово! Поменяем классы переменных там, где это нужно сделать, не забывая про `timestamp` и `X.timestamp`.

In [50]:
data[classes.fact] <- lapply(data[classes.fact], as.factor)
data$timestamp <- as.character(data$timestamp)
data$X.timestamp <- as.character(data$X.timestamp)

# final check:
# (lapply(data, class))

## 1\. Exploratory Analysis

In [59]:
head(data, n = 3)
tail(data, n = 3)

Source: local data frame [3 x 38]

               X.timestamp X.version action adsystem  agent amuid.format
                     (chr)     (int) (fctr)   (fctr) (fctr)       (fctr)
1 2016-04-27T01:09:57.766Z         1     NA        2    901           NA
2 2016-04-27T01:08:15.852Z         1     NA        2   2633           NA
3 2016-04-27T01:08:24.818Z         1     NA        2   2622           NA
Variables not shown: amuid.format.site (fctr), banner (fctr), browser (fctr),
  browser.lang (fctr), browser.version (fctr), campaign (fctr), city (fctr),
  country (fctr), cpm (dbl), errors (fctr), flash (fctr), format (fctr), host
  (fctr), index (fctr), master.money (dbl), max.score (dbl), os (fctr), pay.for
  (fctr), rekl (fctr), rekl.money (dbl), rm.ip (fctr), scheme (fctr), score
  (dbl), site.code (fctr), site.stat (fctr), stat.format (fctr), stavka (int),
  timestamp (chr), total (int), ttl (int), types (fctr), worker (fctr)

Source: local data frame [3 x 38]

               X.timestamp X.version action adsystem  agent amuid.format
                     (chr)     (int) (fctr)   (fctr) (fctr)       (fctr)
1 2016-04-26T10:51:24.857Z         1     NA        2   1206           NA
2 2016-04-26T10:51:24.665Z         1     NA        2   2808           NA
3 2016-04-26T10:51:24.710Z         1     NA        2   2808           NA
Variables not shown: amuid.format.site (fctr), banner (fctr), browser (fctr),
  browser.lang (fctr), browser.version (fctr), campaign (fctr), city (fctr),
  country (fctr), cpm (dbl), errors (fctr), flash (fctr), format (fctr), host
  (fctr), index (fctr), master.money (dbl), max.score (dbl), os (fctr), pay.for
  (fctr), rekl (fctr), rekl.money (dbl), rm.ip (fctr), scheme (fctr), score
  (dbl), site.code (fctr), site.stat (fctr), stat.format (fctr), stavka (int),
  timestamp (chr), total (int), ttl (int), types (fctr), worker (fctr)

In [58]:
str(data)

Classes 'tbl_df', 'tbl' and 'data.frame':	10000 obs. of  38 variables:
 $ X.timestamp      : chr  "2016-04-27T01:09:57.766Z" "2016-04-27T01:08:15.852Z" "2016-04-27T01:08:24.818Z" "2016-04-27T01:11:31.788Z" ...
 $ X.version        : int  1 1 1 1 1 1 1 1 1 1 ...
 $ action           : Factor w/ 1 level "view": NA NA NA NA NA NA NA NA NA NA ...
 $ adsystem         : Factor w/ 3 levels "1","2","3": 2 2 2 2 2 3 3 2 3 2 ...
 $ agent            : Factor w/ 4074 levels "1","2","3","4",..: 901 2633 2622 2339 2339 884 110 2660 61 1859 ...
 $ amuid.format     : Factor w/ 2 levels "new","old": NA NA NA NA NA NA NA NA NA NA ...
 $ amuid.format.site: Factor w/ 2 levels "new","old": NA NA NA NA NA NA NA NA NA NA ...
 $ banner           : Factor w/ 219 levels "1","2","3","4",..: 62 132 37 121 123 NA NA 36 NA 34 ...
 $ browser          : Factor w/ 26 levels "360SE","Chrome",..: 5 3 3 3 3 2 4 3 4 2 ...
 $ browser.lang     : Factor w/ 4 levels "[{","[{\"type\":\"m\"",..: 2 2 4 2 2 NA NA 2 NA 2 ...
 $ browser.version  : Factor w/ 541 levels "0","1.1.1.0(29.0.1547.62)",..: NA NA NA NA NA 60 527 NA 527 NA ...
 $ campaign         : Factor w/ 115 levels "1","2","3","4",..: 54 87 36 85 85 NA NA 36 NA 35 ...
 $ city             : Factor w/ 386 levels "<U+0160>iauliai",..: 378 378 378 378 378 378 282 378 378 378 ...
 $ country          : Factor w/ 68 levels "AE","AL","AM",..: 54 54 63 67 67 54 64 63 54 54 ...
 $ cpm              : num  50 12 14 0 0 ...
 $ errors           : Factor w/ 3 levels "1","2","3": NA NA NA NA NA NA NA NA NA NA ...
 $ flash            : Factor w/ 2 levels "0","1": 1 1 1 1 1 NA NA 1 NA 1 ...
 $ format           : Factor w/ 3 levels "1","2","20": 2 2 2 2 1 1 1 1 2 1 ...
 $ host             : Factor w/ 1 level "127.0.0.1": 1 1 1 1 1 1 1 1 1 1 ...
 $ index            : Factor w/ 2 levels "ad_views-2016.04.26",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ master.money     : num  0.02467 0.00514 0.00691 0 0 ...
 $ max.score        : num  8.9 8.9 8.9 8.9 8.9 ...
 $ os               : Factor w/ 24 levels "Android","Linux",..: 8 9 9 8 8 16 16 9 16 8 ...
 $ pay.for          : Factor w/ 3 levels "0","1","2": 1 1 1 3 3 1 1 1 1 1 ...
 $ rekl             : Factor w/ 61 levels "1","2","3","4",..: 45 8 26 7 7 40 43 26 40 26 ...
 $ rekl.money       : num  0.05 0.012 0.014 0 0 0.025 0.006 0.024 0.016 0.06 ...
 $ rm.ip            : Factor w/ 208 levels "1","2","3","4",..: NA NA NA NA NA NA NA NA NA NA ...
 $ scheme           : Factor w/ 11 levels "87","89","226",..: 3 1 4 7 7 NA NA 4 NA 4 ...
 $ score            : num  8.9 8.9 8.9 8.9 8.9 ...
 $ site.code        : Factor w/ 2 levels "1","2": NA NA NA NA NA NA NA NA NA NA ...
 $ site.stat        : Factor w/ 6 levels "1","2","3","4",..: 6 6 6 6 6 6 6 6 6 6 ...
 $ stat.format      : Factor w/ 3 levels "1","2","20": 2 2 2 2 1 NA NA 1 NA 1 ...
 $ stavka           : int  50 12 14 150000 150000 NA NA 24 NA 60 ...
 $ timestamp        : chr  "1461719398070" "1461719296216" "1461719304952" "1461719491979" ...
 $ total            : int  21331 21331 21331 21331 21331 21331 21331 21331 21331 21331 ...
 $ ttl              : int  983745312 983643458 983652194 983839221 983849469 983238797 983424030 983967022 984002223 984438976 ...
 $ types            : Factor w/ 2 levels "bn","cu": 1 1 1 1 1 1 1 1 1 1 ...
 $ worker           : Factor w/ 36 levels "10","30","40",..: 34 5 6 11 11 31 7 1 31 11 ...

In [55]:
summary(data)

 X.timestamp          X.version  action     adsystem        agent
 Length:10000       Min.   :1   view: 218   1   : 218   1416   :  65
 Class :character   1st Qu.:1   NA's:9782   2   :7094   816    :  59
 Mode  :character   Median :1               3   :2678   1322   :  21
                    Mean   :1               NA's:  10   435    :  19
                    3rd Qu.:1                           983    :  12
                    Max.   :1                           (Other):9812
                                                        NA's   :  12
 amuid.format amuid.format.site     banner        browser
 new : 209    new : 227         34     :1434   Firefox:2554
 old :  19    old :   1         36     : 917   Chrome :2553
 NA's:9772    NA's:9772         37     : 853   MSIE   :1923
                                2      : 640   Opera  :1015
                                1      : 433   Safari : 625
                                (Other):3035   IE     : 586
                                NA's   :2688   (Other): 744
       browser.lang  browser.version    campaign                  city
 [{          :  73   8.0    : 426    36     :1770   undefined       :8036
 [{"type":"m":1806   10.0   :  93    35     :1697   Moscow          : 218
 en          :   5   25.0   :  88    4      : 640   Kursk           :  86
 ru          :5437   0      :  49    3      : 433   Saint Petersburg:  85
 NA's        :2679   24.0   :  47    23     : 370   Boardman        :  74
                     (Other):2005    (Other):2412   Saratov         :  52
                     NA's   :7292    NA's   :2678   (Other)         :1449
    country          cpm         errors      flash      format
 RU     :5405   Min.   : 0.00   1   :   1   0   :7303   1 :6233
 UA     :2495   1st Qu.: 7.00   2   :   1   1   :   9   2 :3708
 BY     : 434   Median :14.00   3   :  60   NA's:2688   20:  59
 KZ     : 417   Mean   :22.01   NA's:9938
 US     : 268   3rd Qu.:24.00
 MD     : 169   Max.   :82.83
 (Other): 812   NA's   :2688
        host                       index       master.money      max.score
 127.0.0.1:10000   ad_views-2016.04.26:5000   Min.   :0.0000   Min.   :8.902
                   ad_views-2016.04.27:5000   1st Qu.:0.0035   1st Qu.:8.902
                                              Median :0.0069   Median :9.066
                                              Mean   :0.0105   Mean   :9.066
                                              3rd Qu.:0.0118   3rd Qu.:9.229
                                              Max.   :0.0395   Max.   :9.229
                                              NA's   :2688
        os       pay.for          rekl        rekl.money          rm.ip
 Win7    :3279   0   :8438   26     :3467   Min.   :0.00000   22     :   3
 Windows :1920   1   : 298   32     :1555   1st Qu.:0.00700   56     :   2
 WinXP   :1255   2   :1254   16     :1073   Median :0.01987   58     :   2
 Win8    :1051   NA's:  10   8      : 638   Mean   :0.02121   145    :   2
 WinVista: 870               40     : 545   3rd Qu.:0.02410   148    :   2
 Mac OS  : 697               (Other):2712   Max.   :0.19226   (Other): 207
 (Other) : 928               NA's   :  10   NA's   :10        NA's   :9782
     scheme         score       site.code   site.stat stat.format
 7286   :3577   Min.   :8.884   1   : 159   1:   1    1   :4669
 87     :1762   1st Qu.:8.892   2   :  69   2:   3    2   :2584
 14658  : 467   Median :9.057   NA's:9772   3:   1    20  :  59
 22144  : 444   Mean   :9.056               4:  60    NA's:2688
 38499  : 322   3rd Qu.:9.221               5:   1
 (Other): 740   Max.   :9.229               6:9934
 NA's   :2688
     stavka        timestamp             total            ttl
 Min.   :     1   Length:10000       Min.   :15306   Min.   :9.256e+08
 1st Qu.:    14   Class :character   1st Qu.:15306   1st Qu.:9.606e+08
 Median :    24   Mode  :character   Median :18318   Median :9.796e+08
 Mean   : 17294                      Mean   :18318   Mean   :9.827e+08
 3rd Qu.:    60                      3rd Qu.:21331   3rd Qu.:1.006e+09
 Max.   :450000                      Max.   :21331   Max.   :1.035e+09
 NA's   :2688
 types         worker
 bn:9990   160    : 408
 cu:  10   60     : 313
           10     : 311
           1070   : 311
           1010   : 309
           1040   : 304
           (Other):8044